{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div><a href="{{ path('app_login') }}">LogIn</a></div>
    <div><a href="{{ path('account') }}">Mon compte</a></div>
</div>
{% endblock %}
